h1{
  border: 5px solid yellow;
  border-radius: 15px;
  background-color: black;
  padding: 20px;
  color: yellow;
  margin-right: 1000px;

}

td:hover, th:hover, a:hover {
  background-color: yellow;
  color: black;
}

 td, th {
   border: 6px solid yellow;
   font-size: 25px;
   border-collapse: collapse;
   font-family: Comic Sans;
   background-color: black;
   border-radius: 10px;
   padding: 20px;
   color: yellow;
}

td:hover a, th:hover a {
  background-color: yellow;
  color: black;
}

body {
  background-color: gray;
}


tr {
  margin: 0px;
}

.menu {
  color: yellow;
  border: 6px solid yellow;
  border-collapse: collapse;
  font-family: Comic Sans;
  background-color: black;
  border-radius: 15px;
  padding: 10px;
  margin-right: 1000px;
}

iframe {
  color: yellow;
  border: 6px solid yellow;
  border-collapse: collapse;
  font-family: Comic Sans;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: yellow;
}

table {
  font-size: 25px;
  border-collapse: collapse;
  font-family: Comic Sans;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  color: yellow;
}
